body {
    margin: 0;
    padding: 0;
    background-color: #022F42;
    background: url(../img/client_background.png) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100% !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:14px;
    -webkit-font-smoothing: antialiased;
}

html, body, #nrs_container, #nrs {
    height:100%;
    overflow:hidden;
}

.modal-backdrop.in {
    opacity:0.35 !important;
}

#loading_indicator_container {
    height:55px;
    width:100px;
    margin:50px auto auto;
}

#nrs_container {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

#nrs {
    border:none;
    width:100%;
    height:100%;
}

#loading_indicator {
    text-align:center;
    background-color:white;
    border:1px solid gray;
    padding:10px;
    margin:20px;
    -webkit-border-radius:10px;
    border-radius:10px;
    display:block;
    opacity:0.65;
}

#server_output_container {
    position:absolute;
    bottom:20px;
    left:0;
    right:0;
    max-width:800px;
    margin:auto;
    color:#fff;
}

td {
    font-size:14px;
}
h2 {
    margin-top:0;
}

p {
    margin-bottom: 0;
}
.bootbox .modal-footer {
    margin-top:0 !important;
}
.btn {
    font-weight: 500;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /* background-color:#C0C0C0; */
    border: 1px solid transparent;
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
}

.btn.btn-default {
    background-color: #fafafa;
    background-image:none;
    color: #666;
    border-color: #ddd;
    border-bottom-color: #ddd;
}

.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default.hover {
    background-color: #f4f4f4 !important;
    background-image:none;
}

.btn.btn-primary {
    background-color: #3c8dbc;
    border-color:transparent;
    background-image:none;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary.hover {
    background-color: #367fa9;
    background-image:none;
}

.btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    outline:none !important;
}

.btn:focus {
    outline: none !important;
}

.form-control {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    box-shadow: none;
}

.form-control:focus {
    border-color: #3c8dbc !important;
    box-shadow: none;
}